<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Black</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div class="Navbar">
            <div class="Navbar-Link Navbar-Brand">
                Black
            </div>
            <div class="Navbar-Link Navbar-Toggle">
                <i class="fas fa-bars fa-2x"></i>
            </div>
            <nav class="Navbar-Items">
                <div class="Navbar-Link">
                    <a href="/">Sign Out</a>
                </div>
                <div class="Navbar-Link">
                    <a href="">New Budget</a>
                </div>
                <div class="Navbar-Link">
                    <a href="">Edit A Budget</a>
                </div>
                <div class="Navbar-Link">
                    <a href="">Black Premium</a>
                </div> 
            </nav>
        </div>
    </header>

    <section id="settings">
        <form action="" method="PUT" class="setting-form">
            <div class="settings-container">
                <div class="setting">Edit Email</div>
                <input type="number" name="cycle_amount" class="setting-input">
            </div>
            <div class="settings-container">
                <div class="setting">Change Password</div>
                <input type="number" name="reset_date" class="setting-input">
            </div>
            <div class="settings-container">
                <div class="setting">Payment</div>
            </div>
        </form>
    </section>
</body>
</html>