<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Black</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/root.css">
</head>
<body>
    <header>
        <h2><a href="index.html">Black</a></h2>
        <nav>
            <li><a href="login.html">Log In</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="register.html">Sign Up</a></li>
        </nav>
    </header>

    <section class="about">
        <h3 class="title">About Black</h3>
        <p>Black is built and maintained by a single student. The idea behind Black was to create 
            a easy way of managing my online spending. We live in a world today were our credit cards are 
            stored on all different kinds of websites. It has become easier than ever to spend money online, and websites 
            constantly battle with eachother for our attention, making the internet into one of the most advertistment 
            heavy places. Black helps by providing a simple, easy to use budget that lets its users feel better when 
            shopping online.  
        </p>
    </section>

    <footer>
        <p><i class="fas fa-copyright"></i> 2018</p>
        <p>Built and maintained by Evan Timms</p>
    </footer>
    
</body> 