<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Black</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/root.css">
</head>
<body>
    <header>
        <h2><a href="index.html">Black</a></h2>
        <nav>
            <li><a href="login.html">Log In</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="register.html">Sign Up</a></li>
        </nav>
    </header>

    <section class="hero">
        <div class="background-image" style="background-image: url(assets/img/main.jpg);"></div>
        <div class="hero-content-area">
            <h1>Black</h1>
            <h3>Online Purchase Tracking: Done Right</h3>
            <a class="btn" href="/user/new">Sign Up</a>
        </div>
    </section>

    <section class="information">
        <h3 class="title">Mange Online Spending</h3>
        <p>With Black, you have full control over how you purchase online. Set a budget and let our app do the rest.
            Highly customizable and with the ability to automatically store online purchases, its a no-brainer for anyone 
            who buys online.
        </p>
        <hr>

        <ul class="grid">
            <li class="small"style="background-image: url(assets/img/main.jpg);"></li>
            <li class="large"style="background-image: url(assets/img/main.jpg);"></li>
            <li class="large"style="background-image: url(assets/img/main.jpg);"></li>
            <li class="small"style="background-image: url(assets/img/main.jpg);"></li>
        </ul>
    </section>

    <section class="features">
        <h3 class="title">Features</h3>
        <p>Black will pay attention to your shopping cart on sites, and automatically add your purchase at checkout.</p>
        <hr>
            <ul class="grid">
                <li>
                    <i class="fas fa-robot fa-4x"></i>
                    <h4>Auto-Tracking</h4>
                    <p>Black can persistantly track your purchases and notify you when you have 
                        exceeded your budget. Purchases are super easy to add to Black, simply right click 
                        a purchase total to add to Black.  
                    </p>
                </li>
                <li>
                    <i class="fas fa-piggy-bank fa-4x"></i>
                    <h4>Persistant Across All Devices</h4>
                    <p>Description Here</p>
                </li>
                <li>
                    <i class="fas fa-bell fa-4x"></i>
                    <h4>Fully Customizable</h4>
                    <p>Design and talior a budget that suits your needs. Design your own or use one of our pre 
                        built budgets for students, professionals and even buisnesses. 
                    </p>    
                </li>
                <li>
                    <i class="fas fa-dollar-sign fa-4x"></i>
                    <h4>Its Free!</h4>
                    <p>Use all the features of Black, free of charge.</p>  
                </li>
            </ul>
    </section>

    <section class="testimonials">
        <h3 class="title">Testimonals From Our Customers</h3>
        <hr>
        <p class="quote">This app is amazing! I was able to save over 4000 dollars this year alone.</p>
        <p class="author">- Guy Who Loves Amazon a Bit Too Much</p>
    </section>

    <section class="register">
        <h3 class="title">Sign Up Now!</h3>
        <hr>
        <form action="" id="signup">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Confirm">
            <input id="submit" class="btn" type="submit">
        </form>
    </section>

    <footer>
        <p><i class="fas fa-copyright"></i> 2018</p>
        <p>Built and maintained by Evan Timms</p>
    </footer>
    <script src="./assets/js/register.js"></script>   
</body>
</html>